body {
    background-color: #34325C !important;
}

.bg-mov {
    background: #34325C;
}

.headr {
    font-size: 70px;
    margin-top: 40px;
    background: #34325C;
    text-align: center;
    color: #ffffff;
}

.lst {
    margin-top: 40px;
}

.itm {
    background-color: #423E71 !important;
    color: #ffffff;
}

.itm p {
    display: inline;
    cursor: pointer;
}

.itm span {
    float: right;
    font-size: 20px;
    margin: 0 2px;
    width: 25px;
    height: 25px;
}

#num {
    width: 90px;
    border-radius: 20px;
    border: none;
    background: #423E71;
    text-align: center;
    color: #FFFFFF;
}

#num[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#num[type=number]::-webkit-inner-spin-button,
#num[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.frm {
    margin-top: 30px;
    color: white;
}

.scd {
    padding: 0 45px !important;
}

.uparrow {
    right: 26px;
    position: relative;
    height: 11px;
    width: 15px;
    background: #423E71;
    border: none;
}

.dnarrow {
    position: relative;
    right: 45px;
    height: 11px;
    top: 10px;
    width: 15px;
    background: #423E71;
    border: none;
}

.tms {
    margin-left: -24px;
}

.btnn {
    width: 280px;
    height: 40px;
    border-radius: 11px;
    border: none;
    background: #423E71;
    color: white;
    margin: 10px 40px;
}

.inputwrapper {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

}

.wrap {
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
}

.cntntr {
    height: 280px;
    overflow-y: scroll;

}

.cntntr::-webkit-scrollbar {
    border-radius: 140px;
    background: #423e71;
    width: 8px;
}

.cntntr::-webkit-scrollbar-thumb {
    border-radius: 140px;
    background: #5e5a8c;
}

.cntntr::-webkit-scrollbar-thumb:hover {
    border-radius: 140px;
    background: rgba(94, 90, 140, 0.38);
}
